<div class="d-flex justify-content-center my-4">
  <div class="border rounded">
      <div class="d-flex mx-2 my-2 justify-content-center"><span>Login</span>
      </div>
        <form class="form" id="loginPageForm">
          <!-- Email input -->
          <div class=" mb-4 mx-2 my-2">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <!-- Password input -->
          <div class=" mb-4 mx-2">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
              </div>
              <input type="text" class="form-control" aria-label="default" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="d-flex justify-content-center">

            <!-- Submit button -->
            <button type="submit" class=" btn btn-primary col-4 my-2">Sign in</button>

          </div>

        </form>
      <script src="../loginPage.js"></script>
  </div>
</div>