<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Blog Bog - the swill of technology</title>
  {{!-- <link rel="stylesheet" type="text/css" href="../../public/css/styles.css"> --}}
</head>

<body>
  <header>
    <h1>The Blog Bog!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/submit/">Submit Post</a>
    <a href="/login">Log In</a>
  </nav>
  <main>
    </aside>
    <div class="blogs">
      {{{body}}}
    </div>
  </main>
</body>
<script src="../index.js"></script>
</html>