<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Call the helper function with triple brackets to render the span as HTML -->
    <h2>Latest Post</h2>
  </div>
  <div class="col-md-6">
    {{#each blogs as |blogs|}}
    {{> blogs}}
    {{/each}}
  </div>
</div>