<div>
    <form id="blog-submit">
        <label for="title">Blog Title</label><input type="text" name="title">
        <label for="slugline">Slugline</label><input type="text" name="slugline"><br>
        <label for="body">Article</label><br>
        <textarea name="body" rows="15" cols="30"></textarea><br>
        <input type="submit" value="Post Blog!">
    </form>
</div>