<div class="row align-center mb-5">
  <div class="col-md-6">
    <!-- Call the helper function with triple brackets to render the span as HTML -->
    <h2>{{first_name}} {{last_name}} - Author page</h2>
  </div>
  <div class="col-md-6">
    <div>
      <h3>Blog Title</h3>
    </div>
    <div>
      <h4>Slugline</h4>
      <p>Written by: <span>"Author"</span> on <span>"Posting Date"</span>. <span># of comments</span></p>
    </div>
  </div>
</div>